* {
   box-sizing: border-box;
}
body {
   font-family: DM Sans, sans-serif;
   max-width: 1922px;
   /* height: 6121px; */
   margin: auto;
}
.header {
   max-width: 100%;   
   /* height: 1483px;    */
   height: 0;
   padding-bottom: 77%;
   margin: auto;
   background: url(../image/HERO.png) no-repeat; 
   /* background: url(../image/hero-img.png) no-repeat,
   url(../image/hero-phone.png) no-repeat; */
   background-color: #F9F8FF;  
   background-size: 100% auto; /* адаптивное фоновое изображение */
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center; 
   max-width: 1802px;
   margin: auto;   
   margin-bottom: 20px; 
   padding-top: 30px;  
}
.navbar-menu {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   text-align: center;
}
.navbar-item {
   margin-right: 32px;
}
.navbar-link {
   text-decoration: none;
   color: #fff;
   font-family: DM Sans, sans-serif;   
   font-weight: 500;
   font-size: 16px;      
}
.navbar-started {
   padding: 20px 50px;
   background-color: #fff;
   border-radius: 60px;
}
.navbar-getStarted {
   text-decoration: none;
}
.navbar-text {
   font-family: DM Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 148%;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   color: #57B3FE;
}
.logo {
   margin-left: 15px;
}
.navbar-started {
   margin-right: 15px;
}
/* main */
/* cards */
.main {
   max-width: 1922px;
   margin: auto;
}
.cards {
   max-width: 100%;
   height: 1068px;
   /* margin: auto; */
   background: url(../image/bg.png) no-repeat;
   background-color: #F9F8FF;
   /* background-size: 100% auto; */
   background-size: 100% 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.cards-features {
   margin: 0;
   padding: 0;
   font-weight: bold;
   font-size: 12px;
   line-height: 122%;
   letter-spacing: 0.15em;
   text-transform: uppercase;
   color: #00A077;
   opacity: 0.5;   
}
.cards-title {
   margin: 0;
   margin-top: 24px;
   font-weight: 500;
   font-size: 48px;
   line-height: 122%;
   color: #3B3E43;
}
.card {
   /* width: 370px; */
   width: 33%;
   height: 335px;
   background-color: #fff;
   box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}
.card-right {
   margin-right: 30px;
}
.cards-chapter {
   width: 60%;
}
.card-title {
   font-size: 22px;
   line-height: 30px;
   color: #3B3E43;
   margin-left: 11%;
   /* margin-left: 41px; */
   margin-bottom: 0;
}
.card-img-chart {
   width: 50px;
   height: 50px;
   background: #FFE7DB;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-img-discount {
   width: 50px;
   height: 50px;
   background: #E7F2EF;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-img-user {
   width: 50px;
   height: 50px;
   background: #FAF3D8;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-img-search {
   width: 50px;
   height: 50px;
   background: #C0F2EF;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-img-graph {
   width: 50px;
   height: 50px;
   background: #EDE7F2;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-img-bag {
   width: 50px;
   height: 50px;
   background: #D8F0FA;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-text {
   margin-top: 15px;
   margin-right: 23px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-box {
   margin-top: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.card-row-one {
   display: flex;
   justify-content: center;
   align-items: center;   
   flex-direction: row;
   width: 61%;
   /* margin-left: 19.5%;
   margin-right: 19.5%; */
}
.card-row-two {
   display: flex;
   justify-content:flex-start;
   align-items: center;
   flex-direction: row;
   width: 61%;
   margin-top: 25px;
   /* margin-left: 19.5%;
   margin-right: 19.5%; */
}

/* cards */

.process {
   max-width: 1922px;
   height: 1639px;
   margin: auto;
   background: url(../image/process.png) no-repeat;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column; 
   /* background-size: 100% auto; */
   background-size: 100% 100%;
}
.process-title {
   margin: 0;
   font-weight: bold;
   font-size: 12px;
   line-height: 122%;
   text-align: center;
   letter-spacing: 0.15em;
   text-transform: uppercase;
   color: #FFFFFF;
   opacity: 0.5;
   margin-top: 194px;
}
.process-head {
   font-weight: 500;
   font-size: 48px;
   line-height: 122%;
   text-align: center;
   color: #fff;
   margin: 0;
   margin-top: 14px;
}
.process-text {
   font-weight: normal;
   font-size: 20px;
   line-height: 34px;   
   text-align: center;
   color: #FFFFFF;
   margin: 0;
   margin-top: 24px;
   margin-bottom: 57px;
}
.process-cards {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   max-width: 60.87%;
}
.process-card {
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   max-width: 100%
   /* width: 1170px; */
   height: 323px;
   background-color: #fff;
   box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
   border-radius: 15px;
   margin-bottom: 40px;
}
.process-card-text {
   width: 100%
   /* max-width: 530px; */
   margin-top: 55px;
   margin-right: 68px;
}
.process-card-img {
   width: 100%;
}
.process-icon-search {
   width: 50px;
   height: 50px;
   background: #DAE6FF;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.process-icon-folder {
   width: 50px;
   height: 50px;
   background: #E9E5FF;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.process-icon-results {
   width: 50px;
   height: 50px;
   background: #CEEDFF;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.process-caption {
   font-weight: bold;
   font-size: 22px;
   line-height: 30px;   
   color: #3B3E43;
   margin: 0;
   margin-top: 20px;
}
.process-description {
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #595E64;
   margin: 0;
   margin-top: 15px;
}
/* process */
.brands {
   max-width: 1922px;
   height: 870px;
   background-color: #F2F2F2;
   display: flex;
   justify-content: center;
   align-items: center;
}
.brands-box {
   width: 1167px;
   height: 502px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
}
.brands-sign {
   width: 100%;
}
.brands-row-one {
   display: flex;
   justify-content: space-between;
   align-items: center; 
   flex-direction: row;
}
.brands-row-two {
   display: flex;
   justify-content: space-between;
   align-items: center; 
   flex-direction: row;
}
.brands-chapter {
   font-weight: bold;
   font-size: 12px;
   line-height: 122%   
   text-align: center;
   letter-spacing: 0.15em;
   text-transform: uppercase;
   color: #00A077;
   opacity: 0.5;
}
.brands-title {
   max-width: 897px;
   font-weight: 500;
   font-size: 48px;
   line-height: 122%;
   text-align: center;
   color: #3B3E43;
   margin-top: 24px;
   margin-bottom: 32px;
}
.brands-text {
   max-width: 381px;
   font-size: 16px;
   line-height: 148%;   
   text-align: center;
   color: #424A4D;
   margin-top: 40px;
}

/* brands */

.start {
   max-width: 1920px;
   height: 820px;
   margin: auto;
   background: url(../image/bg-startworking.png) no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: 100% 100%;
}
.start-info {
   width: 417px;
   height: 374px;
   display: flex;
   flex-direction: column;
   margin-right: 132px;
}
.start-chapter {
   font-weight: bold;
   font-size: 12px;
   line-height: 122%;   
   letter-spacing: 0.15em;
   text-transform: uppercase;
   color: #FFFFFF;
   margin: 0;
   margin-bottom: 24px;
}
.start-title {
   font-weight: 500;
   font-size: 48px;
   line-height: 122%;   
   color: #FFFFFF;
   margin: 0;
   margin-bottom: 24px;
}
.start-text {
   font-weight: normal;
   font-size: 20px;
   line-height: 34px;   
   color: #FFFFFF;
   margin: 0;
   margin-bottom: 30px;
}
.start-started {
   max-width: 194px;
   max-height: 61px;
   padding: 20px 50px;
   background-color: #fff;
   border-radius: 60px;
}
.start-getStarted {
   text-decoration: none;
}
.start-text-button {   
   font-weight: bold;
   font-size: 14px;
   line-height: 148%;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   color: #57B3FE;
}

/* end start */
.footer {
   max-width: 1922px;
   height: 241px;
   background-color: rgba(13, 13, 13, .8);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   margin: auto;
   
}
.footer-block {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 1179px;
   height: 122px;
}
.footer-row-up {
   width: 100%;   
}
.footer-navbar {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   text-align: center;
}
.footer-item {
   margin-right: 32px;
}
.footer-link {
   text-decoration: none;
   color: #fff;   
   font-weight: 500;
   font-size: 16px;
}
.footer-icon {
   display: flex;
   justify-content: space-between;
   align-items: center;   
}
.icon-facebook {
   margin-right: 20px;
}
.icon-instagram {
   margin-right: 20px;
}
.footer-line {
   border-bottom: 1px solid #fff;
   width: 1170px;
   margin-top: 27px;
}
.footer-row-down {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
}

/* end footer */

@media (max-width: 1250px) {
   
}


