* {
   box-sizing: border-box;
}
body {
   font-family: DM Sans, sans-serif;
   max-width: 1922px;
   /* height: 6121px; */
   margin: auto;
}
.header {
   max-width: 100%;   
   /* height: 1483px;    */
   height: 0;
   padding-bottom: 77%;
   margin: auto;
   background: url(../image/HERO.png) no-repeat; 
   /* background: url(../image/hero-img.png) no-repeat,
   url(../image/hero-phone.png) no-repeat; */
   background-color: #F9F8FF;  
   background-size: 100% auto; /* адаптивное фоновое изображение */
}
.m-menu {
   display: none;
}
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center; 
   max-width: 1802px;
   margin: auto;   
   margin-bottom: 20px; 
   margin-right: 60px;
   margin-left: 60px;
   padding-top: 30px;  
}
.navbar-menu {
   margin: 0;
   padding: 0;
   list-style: none;   
   display: flex;
   text-align: center;
}
.navbar-item {
   margin-right: 32px;
}
.navbar-link {
   text-decoration: none;
   color: #fff;
   font-family: DM Sans, sans-serif;   
   font-weight: 500;
   font-size: 16px;      
}
.navbar-started {
   padding: 20px 50px;
   background-color: #fff;
   border-radius: 60px;
}
.navbar-getStarted {
   text-decoration: none;
}
.navbar-text {
   font-family: DM Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 148%;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   color: #57B3FE;
}
.dropdown {
   display: none;
}
/* main */
/* cards */
.main {
   max-width: 1922px;
   margin: auto;
}
.cards {
   max-width: 100%;
   height: auto;
   /* margin: auto; */
   background: url(../image/bg.png) no-repeat;
   background-color: #F9F8FF;
   /* background-size: 100% auto; */
   background-size: 100% 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.cards-features {
   margin: 0;
   padding: 0;
   font-weight: bold;
   font-size: 12px;
   line-height: 122%;
   letter-spacing: 0.15em;
   text-transform: uppercase;
   color: #00A077;
   opacity: 0.5;   
}
.cards-title {
   margin: 0;
   margin-top: 24px;
   font-weight: 500;
   font-size: 48px;
   line-height: 122%;
   color: #3B3E43;
}
.card {
   /* width: 370px; */
   width: 33%;
   height: auto;
   background-color: #fff;
   box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}
.card-right {
   margin-right: 30px;
}
.cards-chapter {
   width: 60%;
}
.card-title {
   font-size: 22px;
   line-height: 30px;
   color: #3B3E43;
   margin-left: 11%;
   /* margin-left: 41px; */
   margin-bottom: 0;
}
.card-img-chart {
   width: 50px;
   height: 50px;
   background: #FFE7DB;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-img-discount {
   width: 50px;
   height: 50px;
   background: #E7F2EF;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-img-user {
   width: 50px;
   height: 50px;
   background: #FAF3D8;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-img-search {
   width: 50px;
   height: 50px;
   background: #C0F2EF;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-img-graph {
   width: 50px;
   height: 50px;
   background: #EDE7F2;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-img-bag {
   width: 50px;
   height: 50px;
   background: #D8F0FA;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-text {
   margin-top: 15px;
   margin-right: 23px;
   margin-left: 11%;
   /* margin-left: 41px; */
}
.card-box {
   margin-top: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 5%;
}
.card-row-one {
   display: flex;
   justify-content: center;
   align-items: center;   
   flex-direction: row;
   width: 61%;
   /* margin-left: 19.5%;
   margin-right: 19.5%; */
}
.card-row-two {
   display: flex;
   justify-content:flex-start;
   align-items: center;
   flex-direction: row;
   width: 61%;
   margin-top: 25px;
   /* margin-left: 19.5%;
   margin-right: 19.5%; */
}

/* cards */

.process {
   max-width: 1922px;
   height: auto;
   margin: auto;
   background: url(../image/process.png) no-repeat;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column; 
   /* background-size: 100% auto; */
   background-size: 100% 100%;
}
.process-title {
   margin: 0;
   font-weight: bold;
   font-size: 12px;
   line-height: 122%;
   text-align: center;
   letter-spacing: 0.15em;
   text-transform: uppercase;
   color: #FFFFFF;
   opacity: 0.5;
   margin-top: 194px;
}
.process-head {
   font-weight: 500;
   font-size: 48px;
   line-height: 122%;
   text-align: center;
   color: #fff;
   margin: 0;
   margin-top: 14px;
}
.process-text {
   font-weight: normal;
   font-size: 20px;
   line-height: 34px;   
   text-align: center;
   color: #FFFFFF;
   margin: 0;
   margin-top: 24px;
   margin-bottom: 57px;
}
.process-cards {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 60.87%;
}
.process-card {
   display: flex;
   justify-content: space-around;
   /* align-items: flex-start; */
   align-items: center;
   background-color: #fff;
   width: 100%
   /* width: 1170px; */
   /* height: 323px; */
   box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
   border-radius: 15px;
   margin-bottom: 40px;
}
.process-card-text {
   display: flex;
   justify-content: centr;
   align-items: flex-start;
   flex-direction: column;
   width: 45%;
   width: 100%
   /* max-width: 530px; */
   margin-top: 55px;
   margin-right: 68px;
}
.process-card-img {
   max-width: 100%;
}
.process-audid-img {
   height: auto;
   max-width: 100%;
}
.process-icon-search {
   width: 50px;
   height: 50px;
   background: #DAE6FF;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
}
.process-icon-folder {
   width: 50px;
   height: 50px;
   background: #E9E5FF;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
}
.process-icon-results {
   width: 50px;
   height: 50px;
   background: #CEEDFF;
   box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
}
.process-caption {
   font-weight: bold;
   font-size: 22px;
   line-height: 30px;   
   color: #3B3E43;
   margin: 0;
   margin-top: 20px;
}
.process-description {
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #595E64;
   margin: 0;
   margin-top: 15px;
}
/* process */
.brands {
   max-width: 1922px;
   height: 870px;
   background-color: #F2F2F2;
   display: flex;
   justify-content: center;
   align-items: center;
}
.brands-box {
   width: 1167px;
   height: 502px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
}
.brands-sign {
   width: 100%;
}
.brands-row-one {
   display: flex;
   justify-content: space-between;
   align-items: center; 
   flex-direction: row;
}
.brands-row-two {
   display: flex;
   justify-content: space-between;
   align-items: center; 
   flex-direction: row;
}
.brands-chapter {
   font-weight: bold;
   font-size: 12px;
   line-height: 122%   
   text-align: center;
   letter-spacing: 0.15em;
   text-transform: uppercase;
   color: #00A077;
   opacity: 0.5;
}
.brands-title {
   max-width: 897px;
   font-weight: 500;
   font-size: 48px;
   line-height: 122%;
   text-align: center;
   color: #3B3E43;
   margin-top: 24px;
   margin-bottom: 32px;
}
.brands-text {
   max-width: 381px;
   font-size: 16px;
   line-height: 148%;   
   text-align: center;
   color: #424A4D;
   margin-top: 40px;
}

/* brands */

.start {
   max-width: 100%;
   height: 820px;
   margin: auto;
   background: url(../image/bg-startworking.png) no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: 100% 100%;
}
.start-info {
   width: 24.45%;
   height: 374px;
   display: flex;
   flex-direction: column;
   margin-right: 132px;
}
.start-chapter {
   font-weight: bold;
   font-size: 12px;
   line-height: 122%;   
   letter-spacing: 0.15em;
   text-transform: uppercase;
   color: #FFFFFF;
   margin: 0;
   margin-bottom: 24px;
}
.start-title {
   font-weight: 500;
   font-size: 48px;
   line-height: 122%;   
   color: #FFFFFF;
   margin: 0;
   margin-bottom: 24px;
}
.start-text {
   font-weight: normal;
   font-size: 20px;
   line-height: 34px;   
   color: #FFFFFF;
   margin: 0;
   margin-bottom: 30px;
}
.start-started {
   max-width: 194px;
   max-height: 61px;
   padding: 20px 50px;
   background-color: #fff;
   border-radius: 60px;
}
.start-getStarted {
   text-decoration: none;
}
.start-text-button {   
   font-weight: bold;
   font-size: 14px;
   line-height: 148%;
   letter-spacing: 0.02em;
   text-transform: uppercase;
   color: #57B3FE;
}
.start-picture {
   max-width: 32.47%;
   height: auto;
}
.start-amg {
   width: 100%;
}

/* end start */
.footer {
   max-width: 100%;
   height: 241px;
   background-color: rgba(13, 13, 13, .8);
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   margin: auto;
   
}
.footer-block {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* width: 1179px; */
   max-width: 61.34%;
   height: 122px;
}
.footer-row-up {
   max-width: 100%;   
}
.footer-navbar {
   max-width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer-box-logo {
   max-width: 100%;
   margin: 0;
   margin-right: 4%;
}
.logo-img {
   max-width: 100%;   
}
.footer-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   text-align: center;
}
.footer-item {
   margin-right: 32px;
}
.footer-link {
   text-decoration: none;
   color: #fff;   
   font-weight: 500;
   font-size: 16px;
}
.footer-icon {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 5%;   
}
.icon-facebook {
   margin-right: 20px;
}
.icon-instagram {
   margin-right: 20px;
}
.footer-line {
   border-bottom: 1px solid #fff;
   width: 100%;
   margin-top: 27px;
}
.footer-row-down {
   max-width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 30px;
}

/* end footer */

@media (max-width: 1250px) {
   body {
      max-width: 1000px;
   }
   .navbar {
      padding-top: 5px;
      justify-content: center;
      margin-left: 15px;
      margin-right: 15px;
   }
   .logo {
      max-width: 150px;
   }
   .logo-img {
      width: 100%;;
   }
   .navbar-started {
      padding: 10px 30px;
   }
   .navbar-item {
      margin-right: 12px;
   }
   .card-row-one {
      width: 95%;
   }
   .card-row-two {
      width: 95%;
   }
   .brands-row-one {
      margin-right: 5%;
      margin-left: 5%;
   }
   .brands-row-two {
      margin-right: 5%;
      margin-left: 5%;
   }
   .brand-img {
      width: 100%;
   }
   .brand-right {
      margin-right: 5%;
   }
   .process-cards {
      width: 80%;
   }
   .process-description {
      margin-bottom: 15px;
   }
   .start-info {
      width: 45%;
      margin-right: 6.87%;
   }
   .footer-box-logo {
      display: none;
   }
   .footer-block {
      max-width: 80%;
   }
   .footer-item {
      margin-right: 5%;
   }
}

@media (max-width: 972px) {
   .logo {
      max-width: 130px;
   }
   .logo-img {
      width: 100%;
   }
   .brands-title {
      font-size: 2em;
   }
   .brands-sign {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
   }
   .brands-row-one {
      display: flex;
      flex-direction: column;
   }
   .brands-row-two {
      display: flex;
      flex-direction: column;
   }
   .brand {
      margin-top: 20px;
   }
}

@media (max-width: 800px) {
   .navbar {
      justify-content: space-around;
      /* position: relative; */
   }
   .m-menu {
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
   }
   .navbar-nav {
      display: flex;       
      top: 20px;
      left: -360px;
      position: relative;
   }
   .navbar-menu {
      display: none;
      position: absolute;
      flex-direction: column;
      text-align: left;
      background-color: #A963FB;
      z-index: 9;
      border-radius: 10px;
   }
   .navbar-item {
      padding: 10px;
   }
   .is-open {
      display: block !important;
   }
   .logo-img {
      margin-top: 15px;
      margin-right: 25%;
      width: 100%;
   }
   .process-chapter {
      max-width: 90%;
   }
   .process-head {
      font-size: 2.5em;
   }
   .navbar-started {
      padding: 5px 15px;
   }
   .brands-title {
      font-size: 2em;
   }
   .start-title {
      font-size: 2em;
   }
   .brand {
      margin-right: 3%;
   }
   .footer-menu {
      display: none;
   }
   .cards-chapter {
      width: 80%;
   }
}

@media (max-width: 650px) {
   .navbar-nav {      
      left: -250px;      
   }
   .process-audid-img {
      display: none;
   }
   .start-amg {
      display: none;
   }   
   .card-box {
      flex-direction: row;
   }
   .card-row-one {
      flex-direction: column;
      width: 98%;
   }
   .card-row-two {
      flex-direction: column;
      margin-top: 0;
   }
   .card {
      width: 90%;
      margin-bottom: 10px;
   }
   .card-right {
      margin-right: 0;
   }
   .card-title {
      font-size: 2em;
   }
}

@media (max-width: 470px) {
   .navbar-nav {
      left: -150px;
   }
   .navbar-text {
      font-size: 8px;
   }
   .header {
      height: 330px;
   }
   .cards-title {
      font-size: 36px;
   }
   .card-box {
      flex-direction: column;
   }
   .brands-title {
      font-size: 24px;
   }
   .start-info {
      width: 80%;
   }
   .start-text-button {
      font-size: 10px;
   }
   .footer-row-down {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      margin-top: 30px;
   }

}

